.navbar-section{
    
}

.navbar-main-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.navbar-content-1{
    font-size: 25px;
    font-weight: 800;
    /* box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.5); */
    padding: 5px;
    border-radius: 10px;
}

.navbar-content-2{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar-content-1 a, .navbar-content-2  a{
    text-decoration: none;
    color: #000000;
}

.scroll-link {
    cursor: pointer;
    color: blue; /* Adjust color as needed */
    text-decoration: underline; /* Optional: Add underline */
}